.section-bottom-bar {
  position: absolute;
  bottom: 1rem;
  left: 0;
  width: 100%;
  z-index: 2;
}

.section-symbol-bar {
  display: flex;
  justify-content: center;
}

.section-symbol-bar svg{
  height: 0.8rem;
  fill: red !important;
}

.section-symbol-bar svg *{
  fill: var(--secondary) !important;
}

.hero {
  position: relative;
  width: 100%;
  height: 100svh;
  padding-top: 3rem;
  overflow: hidden;
}

.hero-bottom {
  height: 1rem;
}

.hero-content::before {
  content: "";
  position: absolute;
  inset: 0;
  /* fills the .hero container */
  background: linear-gradient(0deg,
      var(--primary) 0vh,
      var(--primary-50) 40vh,
      var(--primary-0) 60vh);
  z-index: 1;
  /* sits above the cards */
  pointer-events: none;
  /* allows clicks through */
}

.hero .hero-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.hero .hero-content .hero-content-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  z-index: 2;
}

.hero .hero-content .hero-logo svg {
  width: 50vw;
  margin: 0 auto;
}

/***************************************************
 * Generated by SVG Artista on 9/1/2025, 12:58:51 PM
 * MIT license (https://opensource.org/licenses/MIT)
 * W. https://svgartista.net
 **************************************************/

svg .hero-logo-1 {
  fill: transparent;
  -webkit-transition: fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.8s;
  transition: fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.8s
}

svg.active .hero-logo-1 {
  fill: var(--secondary);
}

svg .hero-logo-2 {
  fill: transparent;
  -webkit-transition: fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.9s;
  transition: fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.9s
}

svg.active .hero-logo-2 {
  fill: var(--secondary);
}

svg .hero-logo-3 {
  fill: transparent;
  -webkit-transition: fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1s;
  transition: fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1s
}

svg.active .hero-logo-3 {
  fill: var(--secondary);
}

svg .hero-logo-4 {
  fill: transparent;
  -webkit-transition: fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.1s;
  transition: fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.1s
}

svg.active .hero-logo-4 {
  fill: var(--secondary);
}

svg .hero-logo-5 {
  fill: transparent;
  -webkit-transition: fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.2000000000000002s;
  transition: fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.2000000000000002s
}

svg.active .hero-logo-5 {
  fill: var(--secondary);
}

svg .hero-logo-6 {
  fill: transparent;
  -webkit-transition: fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.3s;
  transition: fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.3s
}

svg.active .hero-logo-6 {
  fill: var(--secondary);
}

svg .hero-logo-7 {
  fill: transparent;
  -webkit-transition: fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.4000000000000001s;
  transition: fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.4000000000000001s
}

svg.active .hero-logo-7 {
  fill: var(--secondary);
}

svg .hero-logo-8 {
  fill: transparent;
  -webkit-transition: fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.5s;
  transition: fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.5s
}

svg.active .hero-logo-8 {
  fill: var(--secondary);
}

svg .hero-logo-9 {
  fill: transparent;
  -webkit-transition: fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.6s;
  transition: fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.6s
}

svg.active .hero-logo-9 {
  fill: var(--secondary);
}

svg .hero-logo-10 {
  fill: transparent;
  -webkit-transition: fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.7000000000000002s;
  transition: fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.7000000000000002s
}

svg.active .hero-logo-10 {
  fill: var(--secondary);
}

svg .hero-logo-11 {
  fill: transparent;
  -webkit-transition: fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.8s;
  transition: fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.8s
}

svg.active .hero-logo-11 {
  fill: var(--secondary);
}

svg .hero-logo-12 {
  fill: transparent;
  -webkit-transition: fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.9000000000000001s;
  transition: fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.9000000000000001s
}

svg.active .hero-logo-12 {
  fill: var(--secondary);
}

svg .hero-logo-13 {
  fill: transparent;
  -webkit-transition: fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 2s;
  transition: fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 2s
}

svg.active .hero-logo-13 {
  fill: var(--secondary);
}

.hero .hero-content .hero-footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  z-index: 2;
}

.hero .hero-cards {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 65vw;
  /*===============Card Width=================*/
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.hero .hero-cards .card {
  flex: 1;
  position: relative;
  aspect-ratio: 5/7;
  transform: scale(0);
}

.hero .hero-cards .card .hero-card-inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  padding: 0.5rem;
  border-radius: 8px;
  animation: floating 2s infinite ease-in-out;
}

.hero .hero-cards .card#hero-card-1 {
  z-index: 4;
}

.hero .hero-cards .card#hero-card-2 {
  z-index: 2;
}

.hero .hero-cards .card#hero-card-3 {
  z-index: 1;
}

.hero .hero-cards .card#hero-card-4 {
  z-index: 0;
}


.hero .hero-cards .card#hero-card-1 .hero-card-inner {
  animation-delay: 0;
}

.hero .hero-cards .card#hero-card-2 .hero-card-inner {
  animation-delay: 0.25s;
}

.hero .hero-cards .card#hero-card-3 .hero-card-inner {
  animation-delay: 0.5s;
}

.hero .hero-cards .card#hero-card-4 .hero-card-inner {
  animation-delay: 0.75s;
}


@keyframes floating {
  0% {
    transform: translate(-50%, -50%);
  }

  50% {
    transform: translate(-50%, -55%);
  }

  100% {
    transform: translate(-50%, -50%);
  }
}

/* === About Section === */

.about {
  position: relative;
  width: 100%;
  height: max-content;
  background: linear-gradient(180deg,
      var(--primary) 0,
      var(--accent) 10%,
      var(--accent) 90%,
      var(--white) 100%);
  color: var(--secondary);
  overflow: hidden;
}

.about-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--secondary);
}

.about-title h1 {
  z-index: 1;
  text-shadow: 0px 0.5rem 1rem var(--black-50);
}

.about-title,
.about-text {
  z-index: 1;
}

.about-text {
  margin-top: 1rem;
}

.about-text p {
  max-width: 50vw;
}

/* === AboutCard === */
.about-card {
  display: flex;
  justify-content: center;
  width: 100%;
}

.about-card-container {
  width: 13em;
  /* fixed size */
  aspect-ratio: 5 / 7;
  /* keeps card proportion */
  position: relative;
}

.card {
  width: 100%;
  height: 100%;
  perspective: 1000px;
  /* enable 3D */
  will-change: transform;
}

.card-wrapper {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  transform: preserve-3d;
  /* allow 3D children */
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  /* allow 3D children */
  box-shadow: 0px 0.5rem 1rem var(--black-50);
  border-radius: 0.8rem;
}

/* Front & Back */
.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  overflow: hidden;
}

.flip-card-front::before,
.flip-card-back::before {
  content: "";
  position: absolute;
  inset: 0;
  box-shadow: inset 0 0 0 .0825rem color-mix(in hsl, var(--black), transparent 85%);
  border-radius: 0.8rem;
  pointer-events: none;
}

.flip-card-front img,
.flip-card-back img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.flip-card-front {
  box-shadow: 0 0 3vw var(--green-light-25);
  /* white glow */
  border-radius: 0.8rem;
}

.flip-card-back {
  transform: rotateY(180deg);
  /* place back side correctly */
}

/* === Services Section === */

.services {
  width: 100%;
  height: 100svh;
  padding: 8rem 2rem;
  background: linear-gradient(180deg,
      var(--primary) 0,
      var(--primary-0) 100%);
}

.services-header {
  position: relative;
  width: 100%;
  text-align: center;
  transform: translateY(400%);
  will-change: transform;
}

.services-cards {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100svh;
  display: flex;
  justify-content: center;
  z-index: -1;
  background-color: var(--primary);
}

.services-cards-container {
  position: relative;
  width: 90%;
  height: 100%;
  margin-top: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.services-card {
  flex: 1;
  position: relative;
  aspect-ratio: 5/7;
  perspective: 1000px;
  /* enable 3D */
}

.services-card-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  animation: floating 2s infinite ease-in-out;
}

#services-card-1 .services-card-wrapper {
  animation-delay: 0s;
}

#services-card-2 .services-card-wrapper {
  animation-delay: 0.25s;
}

#services-card-3 .services-card-wrapper {
  animation-delay: 0.5s;
}

#services-card-4 .services-card-wrapper {
  animation-delay: 0.75s;
}

.services-flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  /* allow 3D children */
}

.services-flip-card-front,
.services-flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  overflow: hidden;
}

.services-flip-card-front {
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.services-flip-card-back {
  padding: 0.8rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1rem;
  border-radius: 1rem;
  transform: rotateY(180deg);

  color: var(--green);
}

.services-card-img img {
  width: 100%;
  height: auto;
  object-fit: cover;
  aspect-ratio: 3/2;
  border-radius: 1rem;
  backface-visibility: hidden;
  transform: translateZ(0);
  /* force GPU layer */
  will-change: transform, opacity;
}

.services #services-card-1 .services-flip-card-back {
  background-color: var(--pink-lighter);
}

.services #services-card-2 .services-flip-card-back {
  background-color: var(--purple-lighter);
}

.services #services-card-3 .services-flip-card-back {
  background-color: var(--green-lighter);
}

.services #services-card-4 .services-flip-card-back {
  background-color: var(--red-lighter);
}

.services .services-cards #services-card-1 {
  transform: translateX(100%) translateY(-100%) rotate(-5deg) scale(0.25);
  z-index: 3;
}

.services .services-cards #services-card-2 {
  transform: translateX(100%) translateY(-100%) rotate(-5deg) scale(0.25);
  z-index: 2;
}

.services .services-cards #services-card-3 {
  transform: translateX(100%) translateY(-100%) rotate(-5deg) scale(0.25);
  z-index: 1;
}

.services .services-cards #services-card-4 {
  transform: translateX(100%) translateY(-100%) rotate(-5deg) scale(0.25);
  z-index: 0;
}

.services .services-cards .services-cards-container .services-card {
  opacity: 0;
}


.home-spotlight {
  position: relative;
  width: 100%;
  height: 100svh;
  background-color: var(--primary);
  color: var(--secondary);
  overflow: hidden;
}

.home-spotlight .spotlight-intro-header {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 50%;
}




.home-spotlight .home-spotlight-images {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transform: translateY(5%);
  will-change: transform;
  z-index: -1;
}

.home-spotlight .home-spotlight-images-row {
  width: 100%;
  padding: 2rem;
  display: flex;
  gap: 2rem;
}

.home-spotlight .home-spotlight-image {
  flex: 1;
  aspect-ratio: 5/7;
  border-radius: 8px;
  overflow: hidden;
}

.home-spotlight .home-spotlight-image img {
  object-fit: cover;
}

.home-spotlight .home-spotlight-image.image-holder {
  opacity: 0.85;
}

.home-spotlight .spotlight-mask-image-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100svh;
  overflow: hidden;
  z-index: 10;
  -webkit-mask: url(/global/spotlight-mask.svg) center/contain no-repeat;
  mask: url(/global/spotlight-mask.svg) center/contain no-repeat;
  -webkit-mask-size: 0%;
  mask-size: 0%;
}


.home-spotlight .spotlight-mask-header {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40%;
  text-align: center;
  color: var(--secondary);
}

.home-spotlight-top-bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.home-spotlight-bottom-bar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.contact {
  position: relative;
  width: 100%;
  height: max-content;
  background: linear-gradient(180deg,
      var(--primary) 0,
      var(--accent) 10%,
      var(--accent) 90%,
      var(--primary) 100%);
  color: var(--secondary);
  overflow: hidden;
}

.contact-wrapper {
  padding: 2.75rem 0rem;
  display: flex;
}

.contact-title {
  flex: 1;
}

/* === Contact Form Styling === */
.contact-form {
  max-width: 40vw;
  flex: 2;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 2;
  padding: 2rem 0;
  height: max-content;
}

.contact-form label {
  font-size: 1.5rem;
  color: var(--secondary);
  text-align: left;
  margin-bottom: 0.5rem;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 0.9rem 1rem;
  border: none;
  border-radius: 0.6rem;
  background: var(--accent);
  color: var(--secondary);
  font-size: 1rem;
  box-shadow: inset 0 0 0 .0825rem var(--secondary-50);
  transition: all 0.2s ease;
  margin-bottom: 1.25rem;
}

.contact-form input:focus,
.contact-form textarea:focus {
  outline: none;
  background: var(--green-light);
  color: var(--green);
}

.contact-form textarea {
  resize: vertical;
  min-height: 6rem;
  font-family: "Inter", serif;
}

/* Button */
.contact-form button {
  align-self: center;
  width: 100%;
  padding: 0.9rem 2rem;
  background: var(--secondary);
  color: var(--primary);
  border: 2px solid transparent;
  /* reserve space for hover border */
  border-radius: 2rem;
  cursor: pointer;
  box-shadow: 0px 0.5rem 1rem var(--secondary-50);
  transition: all 0.3s ease;
}

.contact-form button:hover {
  background: var(--green-light);
  border-color: var(--secondary);
  /* reveal border instead of adding it */
  color: var(--green);
}

/* Result message */
#form-result {
  margin-top: 1rem;
  font-size: 0.95rem;
  font-weight: 500;
  color: var(--secondary);
  text-align: center;
}


.footer-wrapper {
  display: flex;
  gap: 2rem;
  justify-content: space-between;
}

.footer-logo {
  display: flex;
  align-items: center;
}

.footer-logo svg {
  width: 20vw;
  height: auto;
}

.footer-logo svg *{
  fill: var(--secondary) !important;
}

.footer-contact , .footer-info-tunnus , .footer-info-adress , h2{
  margin-bottom: 8px;
}

.footer-contact , .footer-info-tunnus , .footer-info-adress , h3{
  line-height: 1.2;
}


.footer-info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

@media (min-width: 2800px) {
  .hero .hero-cards {
    width: 60vw;
  }
}

@media (max-width: 1200px) {
  .hero .hero-cards {
    width: 75vw;
  }

  .hero .hero-content .hero-logo svg {
    height: max-content;
    width: 70vw;
  }

  .about {
    height: max-content;
    padding: 4rem 2rem;
  }

  .contact {
    height: max-content;
  }

  .contact-wrapper {
    flex-direction: column;
    align-items: center;
  }

  .contact-form {
    width: 100%;
    max-width: none;
    padding: 1rem 0.5rem;
  }

  .footer-wrapper {
    display: grid;
    grid-template-rows: auto auto auto;
    /* 3 rows */
    grid-template-columns: 1fr;
    gap: 1.5rem;
    justify-items: center;
    text-align: center;
  }
  .footer-logo {
    order: 1;
  }

  .footer-logo img {
    width: 50vw;
  }

  .footer-contact {
    order: 2;
  }

  .footer-info {
    order: 3;
  }
}

@media (max-width: 1000px) {
  .about {
    height: max-content;
  }

  .home-services-header {
    transform: translateY(0%);
  }

  .home-spotlight .spotlight-mask-header,
  .home-spotlight .spotlight-intro-header {
    width: 90%;
    text-align: center;
  }

  .home-spotlight .home-spotlight-images {
    position: absolute;
    left: -75vw;
    width: 250vw;
  }

  .home-spotlight .home-spotlight-images-row {
    gap: 1rem;
  }

  
}

@media (max-width: 800px) {

  .hero .hero-cards {
    flex-wrap: wrap;       /* Allow wrapping to multiple rows */
    gap: 1rem;             /* Space between cards */
    width: 70vw;           /* Optional: make it more mobile-friendly */
    justify-content: center; /* Center the rows */
  }

  .hero .hero-cards .card {
    flex: 1 1 calc(50% - 1rem); /* Two cards per row */
    max-width: calc(50% - 1rem);
    margin-bottom: 1rem;        /* Space between rows */
  }

}

@media (max-width: 1000px) {
  .services {
    height: max-content;
    background: none;
    padding: 6rem 2rem;
  }
  .about-text p {
  max-width: 80vw;
}


    .services-header {
    transform: translateY(0%);
    margin-bottom: 2rem;
  }

  .services .services-cards {
    position: relative;
    width: 100%;
    height: max-content;
  }

  .services .services-cards-container {
    flex-direction: column;
    gap: 2rem;
    width: 100%;
    display: block;
    margin: 0;
  }

  .services .services-card {
    opacity: 1 !important;
    transform: none !important;
    max-width: 400px;
    width: 100%;
    margin: 2rem auto;
  }

  .services .services-flip-card-inner {
    animation: none;
  }

  .services .services-cards-container .services-card .services-card-wrapper {
    animation: none;
  }

  .services .services-flip-card-front {
    display: none;
  }

  .services .services-flip-card-back {
    transform: none !important;
    position: relative;
  }
}